.img-max-height {
    max-height: 300px;
    cursor: pointer;
    object-fit:cover
}

.recipe-list-header {
    width: 100%;
    text-align:center;
    letter-spacing: 4px;
    text-transform: uppercase;
}