    <div class="row col-lg-6 col-md-9 col-sm-12 mx-auto">
        <div style="width: 100%;display: flex">
            <img class="img-header" [src]="recipe.PhotoUrl" [alt]="recipe.Title">
        </div>
        <h4 class="recipe-header">{{recipe.Title}}</h4>
        <h5>{{recipe.Description}}</h5>
        <p>{{recipe.Intro}}</p>
        <h5 class="recipe-titles">Ingredients</h5>
        <ul>
            <li *ngFor="let ingredient of recipe.Ingredients">{{ingredient.Name}} - {{ingredient.Quantity}} {{ingredient.Unit}}</li>
        </ul>
        <div *ngFor="let step of recipe.Steps; let i = index;">
            <h5 class="recipe-titles">Step {{i + 1}}</h5>
            <p>{{step}}</p>
        </div>
    </div>