.navbar-text {
    display: inline-flex;
    padding-left: 2em;
    padding-right: 2em;
    width: 100%;
}

a {
    cursor: pointer;
}

#header-searchbar {
    margin-left: 3em;
}

#header-search-button {
    left: -45px;
    position: relative;
    top: 4px
}